[Unit]
Description=ArkAuthn
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
StateDirectory=arkauthn
ExecStart=/usr/local/bin/arkauthn

[Install]
WantedBy=multi-user.target
